@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Projektowanie Systemów Informatycznych </p>
    <p>Szymon Delikat, Grzegorz Nalepa, Rafał Stolarek</p>
</div>

